@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Carnival.Web
@using Carnival.Data.Models
@model Carnival.Data.Models.UserProfile
    <div>Ваш профиль:

        <button type="button" [disabled]="tableMode == 'list'"
                class="btn btn-info btn-sm pull-right" (click)="tableMode='list'">List</button>


        <div [hidden]="!(tableMode==='edit')">
            <div class="card">
                <div class="card-header">
                    Edit Profile
                </div>
                    <vfdi par="profile" for="Bio"></vfdi>
                    <vfdi par="profile" for="Name"></vfdi>
                <div class="card-footer">
                    <button type="button" class="btn btn-warning" (click)="SaveProfile($event)">Save</button>
                </div>
            </div>
        </div>

        <div [hidden]="!(tableMode==='list')">
            <div class="card">
                <div class="card-header">
                    Profile
                </div>
                <div class="card-block">
                    <tag-dd par="profile" for="Bio"></tag-dd>
                    <tag-dd par="profile" for="Name"></tag-dd>
                </div>
                <div class="card-footer">
                    <button type="button" [disabled]="tableMode == 'edit'"
                            class="btn btn-info btn-sm pull-right" (click)="tableMode='edit';">Edit</button>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-info" (click)="getProfile()">Get Profile</button>
    </div>

